{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Hedgehogs</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
  <div class="blueLine">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <a class="navbar-brand" href="{% url 'homepage' %}"><strong>Hedgehogs</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item {% block active1 %}{% endblock %}">
          <a class="nav-link" href="{% url 'about:aboutpage' %}">About<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% block active2 %}{% endblock %}">
          <a class="nav-link" href="{% url 'tools:toolpage'%}">Tools</a>
        </li>

        {% if user.is_authenticated %}

          <li class ="nav-item">
          {% if github_login %}
            <a class ="nav-link" href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank" >{{ github_login.extra_data.login }}</a>
          {% else %}
            <a class="nav-link" > ( {{ user.username }} )</a>
          {% endif %}
           </li>

           <li class="nav-item">
            <a class="nav-link" href = "{% url 'logout' %}">Logout</a>
          </li>


        {% else %} 
          <li class="nav-item {% block active3 %}{% endblock %}">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class= "nav-item {% block active4 %}{% endblock %}"> 
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </li> 
        {% endif %}


       <!--  <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a>
       </li> -->
      </ul>
      <form type = "get" action="/tools/graph" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name= "search_box">
        <button class="btn btn-primary-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

  </div>
    
  </div>
</nav>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>


    <footer>
      <div class="col text-center" width="98%">
        <hr class="light">
        <p>Hedgehogs | An 
          <a href="http://rcos.io" title="Rensselaer Center for Open Source">RCOS</a>
           project | 
          <a href="https://github.com/rmarathay/hedgehogs">Github</a>
        </p>
      </div>  
    </footer>

	</body>
</html>
 
