body{
    background-color: #DDDDDD;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    overflow-x: hidden;
}




body *{
    font-family: Ubuntu, Helvetica;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

div.wrapper h1{
   text-align: center;
   margin: 100px auto;
}

header.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
}