<!DOCTYPE html>
<html>
<head>
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="nav-bar"></div>

	<div id="app">
		<div class="product">
		
			<div class="product-image">
				<image v-bind:src="image">
			</div>
			<div class="product-info">
				<h1>{{ title }}</h1>
				<p v-if="inStock">In Stock</p>
				<!-- <p v-else-if="inventory < 10 && inventory > 0">Almost sold out</p> -->
				<p v-else>Out of Stock</p>

				<ul>
					<li v-for="detail in details">{{ detail }}</li>
				</ul>
				
				<div v-for="variant in variants" 
				:key="variant.variantId"
				class="color-box" 
				:style="{ backgroundColor: variant.variantColor }"
				v-on:mouseover="updateProduct(variant.variantImage)">

				</div>
			
				<button v-on:click="addToCart" 
				:disabled="!inStock"
				:class="{ disabledButton: !inStock }">Add to Cart</button>

				<div class="cart">
					<p>Cart({{cart}})</p>
				</div>
			
			</div>
		

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>
